<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  
  </head>
  <body>
    {% include header.html %}
     <div class="wrapper">
      <section>

        {% include title-doi.html %}
<!-- Use the metadata to show an article -->
<!-- Proj ID,Status,Title,RDC,Start Year,End Year,PI,Abstract -->

        <p><strong>Principal Investigator:</strong> {{ page.pi }}</p>
        <p class="projectid">{{ page.rdc_type }} {{ page.rdc }} Project No. {{ page.proj_id }} </p>
           
        <p><strong>Abstract:</strong> {{ page.abstract }}</p>

      
      <p><strong>Additional information:</strong>
        <ul>
          <li>Current status: {{ page.status }} (Active {{ page.start_year }}- {{ page.end_year }})</li>
        </ul>
      </p>


<!-- the Content will be the table of datasets used, as well as publications -->


        {{ content }}

      </section>
      <footer>
        {% include footer.html %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script>
      createCitation();
    </script>
  </body>
</html>
